.talk {
  min-height: 100vh;
  display: grid;
  grid-template-rows: 10% 1fr ;
  grid-template-columns: 3fr 7fr;
  background-color: black;
  color: white;
}

.title{
  font-size: xx-large;
  margin-top: 2%;
  margin-left: 20%;
  grid-row: 1;
}

@media (width <=768px) {
  .talk {
    min-height: 100vh;
    display:list-item;
    grid-template-rows: 10% 1fr ;
    grid-template-columns: 3fr 7fr;
    background-color: black;
    color: white;
  }

  .title{
    font-size: xx-large;
    margin: auto;
    grid-row: 1;
  }
}