.talk {
  min-height: 100vh;
  display: grid;
  grid-template-rows: 10% 1fr ;
  grid-template-columns: 3fr 7fr;
  background-color: black;
  color: white;
  position: relative;
}

.title{
  font-size:3em;
  display: grid;
  margin:auto 20%;
  
}
.Logoption{
  display: flex;
}
.Logoption button{
  font-size:0.5em;
  margin: auto ;
}
.option {
  display: block;
  margin: auto ;
  table-layout:fixed;
}
.optinbuttons{
  display: flex;
}
.option button{
  margin: 5%;
}
.action{
  font-size: 2em;
}
.clicked{
  color: lime;
}
.search{
  background-color: rgb(45, 13, 0);
  width: 100%;
  position: relative;
  z-index: 1;
}
.search-where{
margin:5%;
}
.search-where label{
margin-right: 20%;
}
.option input{
  background-color: rgb(174, 174, 174);
}
.search-where select{
  background-color: rgb(75, 22, 1);
  margin-bottom: 5%;
}

.search-where button{
  margin-top: 2%;
  float: right;
}
.createtemplate{
  background-color: rgb(15, 103, 167);
  position: relative;
  z-index: 1;
}
.create-area{
  margin: 3% 2%;
}
.create-area input{
  width: 60%;
}
.create-area .stamp{
  margin: 3% 1%;
  padding: 2%;
  background-color: rgb(170, 169, 169);
}
.create-button{
  margin: 0 10% ;
  float: right;
}
.result-message{
  margin-bottom:10%;
  list-style: none;
  border-bottom: 1px solid;
}
.result{
  margin: 5% 10%;
}
.createtag{
  background-color: rgb(127, 133, 133);
  text-align: center;
  position: relative;
  z-index: 1;
}
@media (width <=768px) {
  .talk {
    min-height: 100vh;
    display:list-item;
    grid-template-rows: 10% 1fr ;
    grid-template-columns: 3fr 7fr;
    background-color: black;
    color: white;
  }

  .title{
    font-size: xx-large;
    margin: auto;
    grid-row: 1;
  }
  .select-item{
    display: grid;
  }
  .search-where button{
    margin-top: 5% ;

  }
  .result{
   clear: right;
  }
}