.main {
  grid-row: 2;
  margin-left: 2.5%;
  margin-right: 5%;
  margin-top: 5vh;
  text-align: center;
  overflow: auto;
  max-height: 80vh;
}

.talk-item {
  text-align: left;
  margin: auto;
  margin-top: 15px;
  list-style: none;
  border-bottom: 2px solid;
}

.user-name {
  margin-bottom: 3px;
}

.start-text{
  font-size: xx-large;
}

.data-form {
  background-color: rgb(122 121 121);
  width: 80%;
  margin: auto;
  margin-top: 1%;
  margin-bottom: 1%;
  padding: 6%;
  border: 2px solid;
}

 .name-label,
.text-label {
  margin-left: 2%;
  float: left;
}

 .name-input {
  width: 40%;
  margin-right: 2%;
  float: right;
}

 .text-input {
  width: 70%;
  margin-right: 2%;
  float: right;
}

 .submit-button {
  font-size: large;
  float: right;
  margin-top: 2%;
  margin-left: 2%;
}

 .template-button {
  font-size: large;
  background-color: rgb(129 129 255);
  color: rgb(186 186 186);
  float: left;
  margin-top: 2%;
  margin-left: 2%;
}

.template-menu {
  margin-top: 1%;
  padding: 2%;
  border-radius: 5px;
  background-color: rgb(213 213 213);
  font-size: large;
}

.close-button {
  clear: left;
  margin-top: 2%;
  float: right;
}

.pagination{
  display: flex;
  font-size: x-large;
  justify-content: center;
}

.page-item{
  margin: 0 1%;
}

.page-link{
  text-decoration: none;
  cursor: pointer;
  padding: 20%;
  background-color: rgb(173, 173, 173);
}

@media (width <= 1300px) {
   .data-form {
    padding: 7%;
  }
}

@media (width <= 1000px) {
   .data-form {
    padding: 8%;
  }
}

@media (width <= 800px) {
   .data-form {
    padding: 9%;
  }
}

@media (width <= 600px) {
  .data-form {
   padding: 10%;
 }
}

@media (width <=425px) {
  .data-form {
    padding: 15%;
    width: 70%;
  }
}