.talk {
  height: 100vh;
  background-color:black;
  color: white;
}
.talk .titlearea{
  font-size: x-large;
  border: 3px double;
}
.talk .sidemenew{
  padding: 1%;
  margin-left:2%;
  border-right: 6px solid ;
  width: 25%;
}

.talk .sidemenew .side{
  list-style: none;
  border: 3px solid;
  margin-bottom: 2.5%; 
}

.talk .sidemenew .sideitem{
  overflow: auto;
  max-height: 70vh;
}
.talk .sidemenew .inputarea input{
  width: 90%;
}
.talk .sidemenew .side.selected{
  background-color: lightgray;
}
.talk .sidemenew .topicact select{
  margin-left:2%;
}
.talk .sidemenew .topicact{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.talk .sidemenew .sideitem div{
  padding: 5%;
  font-size: x-large;
}
.talk .sidemenew .sideitem button{
  float: right;
  margin-top: -3%;
}
.talk .talkarea{
  width: 65%;
  float: right;
  margin-left:2.5%;
  margin-right:5%;
}
.talk .talks{
  margin-top: 5vh;
  text-align: center;
  overflow: auto;
  max-height: 70vh;
}
.talk .talkitem{
  border-bottom:2px solid ;
  text-align: left;
  margin:auto;
}
.talk .typearea{
  background-color:lightgray;
  width:80%;
  margin:auto;
  margin-top: 1%;
  margin-bottom: 1%;
  padding:4%;
  border: 2px solid;
  border-radius: 10px;
}

.talk .typearea .namelabel,
.talk .typearea .textlabel{
  margin-left: 2%;
  float: left;
}

.talk .typearea .nameinput{
  width: 40%;
  margin-right: 2%;
  float: right;
}

.talk .typearea .textinput{
  width: 70%;
  margin-right: 2%;
  float: right;
}

.talk .typearea .btn{
  float: right;
  margin-top: 2%;
}

.talk .fixed{
  margin-top: 1%;
  padding: 2%;
  border-radius: 5px 5px 5px;
  background-color: rgb(148, 147, 147);
}
.talk .fixed .closebtn{
  clear: left;
  margin-top: 1%;
  float: right;
}
