.talkarea {
  grid-row: 2;
  margin-left: 2.5%;
  margin-right: 5%;
}
.talks {
  margin-top: 5vh;
  text-align: center;
  overflow: auto;
  max-height: 80vh;
}
.talkitem {
  text-align: left;
  margin: auto;
  margin-top: 15px;
  list-style: none;
  border-bottom: 2px solid;
}
.username {
  margin-bottom: 3px;
}

.typearea {
  background-color: rgb(122, 121, 121);
  width: 80%;
  margin: auto;
  margin-top: 1%;
  margin-bottom: 1%;
  padding: 6%;
  border: 2px solid;
}

 .namelabel,
.textlabel {
  margin-left: 2%;
  float: left;
}

 .nameinput {
  width: 40%;
  margin-right: 2%;
  float: right;
}

 .textinput {
  width: 70%;
  margin-right: 2%;
  float: right;
}

 .subbtn {
  font-size: large;
  float: right;
  margin-top: 2%;
  margin-left: 2%;
}

 .tembtn {
  font-size: large;
  background-color: rgb(129, 129, 255);
  color: rgb(186, 186, 186);
  float: left;
  margin-top: 2%;
  margin-left: 2%;
}

.fixed {
  margin-top: 1%;
  padding: 2%;
  border-radius: 5px 5px 5px;
  background-color: rgb(148, 147, 147);
  font-size: large;
}
.closebtn {
  clear: left;
  margin-top: 2%;
  float: right;
}
.pagination{
  display: flex;
  font-size: x-large;
  justify-content: center;
}
.page-item{
  margin: 0 1%;
}
.page-link{
  text-decoration: none;
  cursor: pointer;
  padding: 20%;
  background-color: lightcyan;
}
@media (max-width: 1300px) {
  .talk .typearea {
    padding: 7%;
  }
}
@media (max-width: 1000px) {
  .talk .typearea {
    padding: 8%;
  }
}
@media (max-width: 800px) {
  .talk .typearea {
    padding: 9%;
  }
}
